GEMINI_API_KEY=GEMINI_API_KEY

TELEGRAM_BOT=TELEGRAM_BOT_KEY


MAIN_CHAT_ID=CHAT_ID
ERRORS_CHAT_ID=CHAT_ID_ERROR

BOT_DETAILS_URL=BOT_DETAILS_URL


GENERIC_TIMEZONE=Europe/Istanbul
TZ=Europe/Istanbul
N8N_ENCRYPTION_KEY=RANDOM_SECRET_FOR_N8N
N8N_PORT=5678
